{% load otree staticfiles %}

<div class="card bg-light instructions">
    <div class="card-body">

        <p>In this part of the study you will interact with one other participant. The computer will assign one of you the role of a sender and the other the role of a receiver. The sender will be endowed with 100 points whereas the receiver is not endowed with any points. The sender will then be able to decide how he or she wants to split the points between him-/herself and the receiver. The receiver gets double the points the sender decides to give away. The sender gets to keep all the points he/she does not give to the receiver.
        </p>
           <h5>Your Role</h5>
    <p> At the end of the experiment, the computer will randomly assign the role of the sender to one person. The other person is assigned the role of a receiver. However, you do not know which role you will finally be assigned when you make your decisions. Therefore, we ask both of you to decide how many points you want to give to the receiver in case you were assigned the role of a sender. In case you are randomly assigned the role of a sender at the end of the experiment, the computer will automatically implement your decision and display it to the receiver in the end of the experiment. If you are assigned the role of a receiver, you will be informed of the respective decision of the sender in the end of the experiment.
    </p>

    </div>
</div>

