{% load otree staticfiles %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h1>Payment</h1>
    <p>This part of the study consists of ten rounds. In each round you will be matched with two random participants. In the end of each round, participants who were in the same group will see each other's decisions (explained in detail below).
        This experiment is divided into two parts which together consist of eleven rounds. In each round you will be able to earn up to 200 points based on your decisions as well as the decisions of other participants. In the end of the experiment one round will be chosen at random with equal probability. For each point you earned in that chosen round, you will receive 10 cents. In addition to these earnings everyone will receive a $10 participation fee.
    </p>
    </div>
</div>

